{% extends 'base.html.twig' %}

{% block title %}CurrentSubstance{% endblock %}

{% block body %}
    <h1>CurrentSubstance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ current_substance.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ current_substance.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('current_substance_index') }}">back to list</a>

    <a href="{{ path('current_substance_edit', {'id': current_substance.id}) }}">edit</a>

    {{ include('current_substance/_delete_form.html.twig') }}
{% endblock %}
